@import "../../styles/Partials/fonts";
@import "../../styles/Partials/mixins";
@import "../../styles/Partials/variables";

.projects {
  display: flex;
  // height: 100vh !important;
  @media (orientation: landscape) {
    height: 100vh;
    // margin-top: 10%;
  }

  &__container {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (orientation: landscape) {
      height: 100%;
      // width: 40%;
    }
    @include tablet {
      height: 100vh;
    }
    @media (orientation: landscape) {
      height: 100%;
      // width: 40%;
    }
  }
  &__project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(24, 24, 24, 0.479);
    width: 90%;
    border-radius: 5px;
    margin: 2% 2%;
    padding-bottom: 3%;
    // height: 600px;

    @media (orientation: landscape) {
      width: 40%;
    }

    @include tablet {
      width: 50%;
    }
  }

  // &__project:nth-child(1)::after {
  //   display: flex;
  //   align-content: center;
  //   font-weight: 300;
  //   width: 80%;
  //   margin: 0 auto;
  //   font-size: 0.8rem;
  //   content: "Built a mobile-friendly frontend with HTML5, CSS3, BEM, Sass, JavaScript, React, and Material-UI that contained multiple components and pages.";
  //   color: white;
  //   animation: textTransform infinite ease-in-out 15s;
  // }

  &__project-title {
    color: white;
    margin: 10px 0;
    font-size: 1.2em;
    @include tablet {
      font-size: 1.2em;
    }
  }
  &__project-link-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__project-description {
    color: white;
    width: 80%;
    font-size: 0.8rem;
    margin-top: 0;
  }
  &__project-img-container {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__project-image {
    width: 90%;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  &__link-list {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 5% 0;
    // height: 100%;
  }
  &__link {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  &__link-img {
    width: 45%;
    height: 20%;
    @include tablet {
      width: 25%;
    }
  }

  &__project-text-transform {
  }
  &__project-text-list {
    margin: 0;
  }
  &__project-text {
    margin: 10px auto;
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
  }
}
