@import '../../styles/Partials/fonts';
@import '../../styles/Partials/mixins';
@import '../../styles/Partials/variables';

.error {
  height: 100vh;
  background-color: #141e30;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__code {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 65%;
    font-weight: 600;
  }
  &__img {
    width: 20%;
    margin: 50px;
    filter: invert(100%);
  }
  &__btn {
    background-color: #db7c26;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    &:hover {
      box-shadow: -3px 3px gray;
      transform: translate(3px);
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
  }
}
