@import '../../styles/Partials/fonts';
@import '../../styles/Partials/mixins';
@import '../../styles/Partials/variables';

.custom-shape-divider-top-1614044863 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1614044863 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1614044863 .shape-fill {
  fill: #243b55;
}

.skills {
  position: relative;
  background-color: #141e30;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 5%;
  @include tablet {
    padding: 5% 0;
    // height: 50vh;
  }
  @include desktop {
    padding-bottom: 0px;
  }
  &__container {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
  }

  &__bem {
    width: 15%;
    height: 8%;
    margin: 0.5%;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */

    &:hover {
      transition: filter 0.5s ease-in-out;
      -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(0%); /* FF 35+ */
    }
    @include tablet {
      width: 8%;
    }
    @include desktop {
      width: 5%;
    }
  }

  &__js {
    @extend .skills__bem;
    width: 12.2%;
    height: 8%;
    @include tablet {
      width: 8%;
    }
    @include desktop {
      width: 5%;
    }
  }
  &__react {
    @extend .skills__bem;
    width: 20%;
    height: 8%;
    @include tablet {
      width: 12%;
    }
    @include desktop {
      width: 7%;
    }
  }
  &__scss {
    @extend .skills__bem;
  }
  &__gsap {
    @extend .skills__bem;
  }
  &__node {
    @extend .skills__bem;
  }
  &__express {
    @extend .skills__bem;
    width: 30%;
    height: 8%;
    @include tablet {
      width: 18%;
    }
    @include desktop {
      width: 8%;
    }
  }
  &__git {
    @extend .skills__bem;
    width: 25%;
    height: 8%;
    @include tablet {
      width: 14%;
    }
    @include desktop {
      width: 7%;
    }
  }
  &__passport {
    @extend .skills__bem;
    width: 12%;
    @include tablet {
      width: 7.5%;
    }
    @include desktop {
      width: 4%;
    }
  }
  &__material {
    @extend .skills__bem;
    width: 18%;
    height: 8%;
    @include tablet {
      width: 8%;
    }
    @include desktop {
      width: 6%;
    }
  }
}
