@import '../../styles/Partials/fonts';
@import '../../styles/Partials/mixins';
@import '../../styles/Partials/variables';

.home {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    // height: 100vw;
  }
  @include desktop {
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      width: 40%;
      justify-content: flex-start;
    }
    @include desktop {
      align-content: flex-end;
      justify-content: center;
      // padding-top: 2%;
    }
  }

  &__image-container-reverse {
    order: -1;
    @include tablet {
      order: unset;
      align-items: flex-start;
      margin-top: 150px;
    }
    @include desktop {
      order: unset;
      align-items: center;
      margin: unset;
    }
  }

  &__image {
    max-width: 55%;
    @include tablet {
      width: 90%;
    }
    @include desktop {
      max-width: 60%;
      margin-right: 5%;
    }
  }

  &__container-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #243b55;
    padding: 30px 0 0 0;
    @include tablet {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    @include desktop {
      align-items: center;
      padding-top: 3%;
    }
  }

  &__paragraph {
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    width: 70%;
    letter-spacing: 0.8px;
    line-height: 22px;
    @include tablet {
      font-size: 1em;
    }
    @include desktop {
      margin: 0 auto;
      width: 60%;
      // margin-left: 10%;
    }
  }

  &__highlighter {
    background-color: #db7e26b6;
  }

  &__break {
    margin: 15px 0;
    font-weight: 200;
    font-size: 1.1rem;
    &-header {
      font-weight: 700;
      font-size: 1.5rem;
    }
    &-heading {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  &__paragraph-link {
    color: white;
  }

  &__paragraph-cta {
    color: #289eff;
  }

  &__btn-container {
    width: 100;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    @include desktop {
      flex-direction: row;
      width: 50%;
      justify-self: center;
      margin: 90px auto 60px auto;
    }
  }

  &__btn--fill {
    background-color: #db7c26;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 45px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    &:hover {
      box-shadow: -3px 3px gray;
      transform: translate(3px);
    }
  }

  &__btn-link {
    text-decoration: none;
    color: white;
    outline: #db7c26;
    border: 1px solid #db7c26;
    background-color: transparent;
    border-radius: 3px;
    width: 200px;
    height: 45px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    &:hover {
      box-shadow: -3px 3px gray;
      transform: translate(3px);
    }
  }

  &__social--links {
    background-color: #141e30;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 5%;
  }
  &__social-links {
    width: 14%;
    margin: 0 5%;
    @include desktop {
      width: 3%;
      margin: 0 3%;
    }
  }
}
