@import '../../styles/Partials/fonts';
@import '../../styles/Partials/mixins';
@import '../../styles/Partials/variables';

.about {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include desktop {
  }

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      width: 40%;
      justify-content: flex-start;
    }
    @include desktop {
      align-content: flex-end;
      justify-content: center;
    }
  }

  &__image-container-reverse {
    order: -1;
    @include tablet {
      order: unset;
      align-items: flex-start;
      margin-top: 150px;
    }
    @include desktop {
      order: unset;
      align-items: center;
      margin: unset;
    }
  }

  &__image {
    max-width: 55%;
    // border-radius: 50%;
    // overflow: hidden;

    @include tablet {
      width: 90%;
    }
    @include desktop {
      max-width: 60%;
      margin-right: 5%;
    }
  }

  &__container-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    @include desktop {
      align-items: center;
    }
  }

  &__paragraph {
    color: white;
    font-size: 0.9em;
    font-weight: 300;
    width: 70%;
    letter-spacing: 0.8px;
    line-height: 22px;
    @include tablet {
      font-size: 1em;
    }
    @include desktop {
      margin: 0;
    }
  }

  &__highlighter {
    background-color: rgba(9, 226, 20, 0.322);
  }

  &__break {
    margin: 15px 0;
  }

  &__paragraph-link {
    color: white;
  }

  &__paragraph-cta {
    color: #289eff;
  }
}
