.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.home__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .home__image-container {
    width: 40%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .home__image-container {
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.home__image-container-reverse {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
@media screen and (min-width: 768px) {
  .home__image-container-reverse {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .home__image-container-reverse {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: unset;
  }
}
.home__image {
  max-width: 55%;
}
@media screen and (min-width: 768px) {
  .home__image {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .home__image {
    max-width: 60%;
    margin-right: 5%;
  }
}
.home__container-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #243b55;
  padding: 30px 0 0 0;
}
@media screen and (min-width: 768px) {
  .home__container-paragraph {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .home__container-paragraph {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 3%;
  }
}
.home__paragraph {
  color: white;
  font-size: 0.9em;
  font-weight: 300;
  width: 70%;
  letter-spacing: 0.8px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .home__paragraph {
    font-size: 1em;
  }
}
@media screen and (min-width: 1200px) {
  .home__paragraph {
    margin: 0 auto;
    width: 60%;
  }
}
.home__highlighter {
  background-color: #db7e26b6;
}
.home__break {
  margin: 15px 0;
  font-weight: 200;
  font-size: 1.1rem;
}
.home__break-header {
  font-weight: 700;
  font-size: 1.5rem;
}
.home__break-heading {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1.67em auto;
}
.home__paragraph-link {
  color: white;
}
.home__paragraph-cta {
  color: #289eff;
}
.home__btn-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .home__btn-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 500px;
    justify-self: center;
    margin: 20px auto 10px auto;
  }
}
.home__btn--fill {
  background-color: #db7c26;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  border-radius: 3px;
  width: 200px;
  height: 45px;
  color: white;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.8px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__btn--fill:hover {
  -webkit-box-shadow: -3px 3px gray;
          box-shadow: -3px 3px gray;
  -webkit-transform: translate(3px);
          transform: translate(3px);
}
.home__btn-link {
  text-decoration: none;
  color: white;
  outline: #db7c26;
  border: 1px solid #db7c26;
  background-color: transparent;
  border-radius: 3px;
  width: 200px;
  height: 45px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto;
}
.home__btn-link:hover {
  -webkit-box-shadow: -3px 3px gray;
          box-shadow: -3px 3px gray;
  -webkit-transform: translate(3px);
          transform: translate(3px);
}
.home__down-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.home__down-arrow {
  width: 5%;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .home__down-arrow {
    width: 2%;
    margin-right: 50px;
  }
}
.home__social--links {
  background-color: #141e30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5%;
}
.home__social-links {
  width: 14%;
  margin: 0 5%;
}
@media (orientation: landscape) {
  .home__social-links {
    width: 8%;
  }
}
@media screen and (min-width: 1200px) {
  .home__social-links {
    width: 3%;
    margin: 0 3%;
  }
}

@-webkit-keyframes changeColor {
  from {
    -webkit-filter: invert(55%) sepia(45%) saturate(846%) hue-rotate(346deg) brightness(91%) contrast(87%);
            filter: invert(55%) sepia(45%) saturate(846%) hue-rotate(346deg) brightness(91%) contrast(87%);
  }
}

@keyframes changeColor {
  from {
    -webkit-filter: invert(55%) sepia(45%) saturate(846%) hue-rotate(346deg) brightness(91%) contrast(87%);
            filter: invert(55%) sepia(45%) saturate(846%) hue-rotate(346deg) brightness(91%) contrast(87%);
  }
}
/*# sourceMappingURL=home.css.map */