@import "../../styles/Partials/fonts";
@import "../../styles/Partials/mixins";
@import "../../styles/Partials/variables";

.contact {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: 73.1vh;
    @media (orientation: landscape) {
      height: 100%;
    }
  }
  @include desktop {
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: 71.8vh;
  }
  &__why {
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 50%;
      align-items: flex-start;
      justify-self: flex-start;
      margin-bottom: 150px;
    }
  }
  &__why-title {
    display: flex;
    justify-content: flex-start;
    color: white;
    display: flex;
    text-align: center;
    margin: 5%;
    font-size: 2em;
    @include desktop {
      justify-content: flex-start;
      margin: 0 0 15px 100px;
      font-weight: 200;
    }
  }
  &__why-me {
    display: flex;
    justify-content: flex-start;
    color: white;
    display: flex;
    text-align: center;
    margin: 5%;
    font-size: 1.2rem;
    font-weight: 200;
    @include desktop {
      justify-content: flex-start;
      margin: 0 0 0 100px;
      font-weight: 200;
    }
  }

  &__why-me-list {
    padding: 0;
    @include desktop {
      margin: 20px 0 20px 100px;
    }
  }
  &__why-me--bullet {
    color: white;
    width: 80%;
    font-size: 1rem;
    margin: 10px 0 0 50px;
    font-weight: 200;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (orientation: landscape) {
      height: 100%;
    }
    // margin-top: 5%;
    @include tablet {
      width: 50%;
    }
    @include desktop {
      // margin-bottom: 35px;
      // justify-content: flex-start;
      // align-items: flex-start;
      width: 50%;
    }
  }

  &__form-message-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__form-message--error {
    background-color: #ff44449f;
    border: 1px solid #cc0000;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;

    @include desktop {
      background-color: #ff44449f;
      border: 1px solid #cc0000;
      color: white;
      width: 100%;
      height: 30px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }

  &__form-message--success {
    background-color: #00c85057;
    border: 1px solid #007e33;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;

    @include desktop {
      background-color: #00c85057;
      border: 1px solid #007e33;
      color: white;
      width: 100%;
      height: 30px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }

  &__name-label {
  }
  &__name-input {
    width: 75%;
    border-radius: 3px;
    border: none;
    margin: 2% 0;
    height: 50px;
    background-image: url("../../assets//icons/smile-solid.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 15px;
    background-position-y: 10px;
    font-family: "Roboto", sans-serif;

    &:focus {
      background-image: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder {
      padding: 60px;
    }
    @include tablet {
      width: 70%;
      margin: 2% 0;
    }
    @include desktop {
      margin: 1% 0;
    }
  }
  &__email-label {
  }
  &__email-input {
    @extend .contact__name-input;
    background-image: url("../../assets//icons/envelope-regular.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 15px;
    background-position-y: 10px;

    &:focus {
      background-image: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder {
      padding: 60px;
    }
  }
  &__message-label {
  }
  &__message-input {
    @extend .contact__name-input;
    height: 150px;
    background-image: url("../../assets//icons/comment-dots-solid.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 10px;
    background-position-y: 50px;
    &:focus {
      background-image: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder {
      padding: 60px;
    }
  }
  &__btn {
    width: 150px;
    height: 30px;
    outline: none;
    margin-top: 10px;
    &:hover {
      fill: rgb(230, 56, 56);
    }
    @include tablet {
      margin-top: 10px;
    }
    @include desktop {
      margin-top: 10px;
    }
  }
  &__social-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__social-link-container {
    width: 63px;
  }
  &__social--size {
    @include desktop {
      width: 75%;
    }
  }
}
