@import '../../styles/Partials/fonts';
@import '../../styles/Partials/mixins';
@import '../../styles/Partials/variables';

.contact {
  display: flex;
  background-color: #243b55;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 5%;
  position: relative;

  @include tablet {
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
  }
  @include desktop {
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: 95.8vh;
  }

  &__why {
    @include tablet {
      width: 50%;
      align-self: flex-start;
      margin-top: 40px;
    }
    @include desktop {
      width: 37%;
      align-items: flex-start;
      justify-self: flex-start;
      margin-bottom: 150px;
      margin-top: 100px;
      margin-left: 30px;
    }
  }

  &__why-title {
    display: flex;
    justify-content: flex-start;
    color: white;
    display: flex;
    text-align: center;
    margin: 5%;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    line-height: 22px;
    @include desktop {
      justify-content: flex-start;
      margin: 0 0 15px 100px;
      font-weight: 700;
    }
  }

  &__why-me {
    display: flex;
    justify-content: flex-start;
    color: white;
    display: flex;
    text-align: center;
    margin: 5%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    line-height: 22px;
    font-size: 1.2rem;
    font-weight: 400;

    @include tablet {
    }
    @include desktop {
      justify-content: flex-start;
      margin: 30px 100px;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  &__why-me-list {
    padding: 0;
    @include desktop {
      margin: 20px 0 20px 100px;
    }
  }

  &__why-me--bullet {
    color: white;
    width: 80%;
    margin: 10px 0 0 50px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    line-height: 22px;
    font-weight: 200;
    @include desktop {
      font-size: 1.1rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (orientation: landscape) {
      height: 100%;
    }
    @include tablet {
      width: 50%;
    }
    @include desktop {
      height: 70%;
      width: 50%;
      margin-top: 3%;
      // justify-self: flex-start;
      align-self: flex-start;
      @media (orientation: landscape) {
        height: 55%;
        // margin-top: 3%;
      }
    }
  }

  &__form-message-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__form-message--error {
    background-color: #ff44449f;
    border: 1px solid #cc0000;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
    @include desktop {
      background-color: #ff44449f;
      border: 1px solid #cc0000;
      color: white;
      width: 100%;
      height: 30px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }

  &__form-message--success {
    background-color: #00c85057;
    border: 1px solid #007e33;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 10px;
    @include desktop {
      background-color: #00c85057;
      border: 1px solid #007e33;
      color: white;
      width: 100%;
      height: 30px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }

  &__name-label {
  }

  &__name-input {
    width: 75%;
    border-radius: 3px;
    border: none;
    margin: 2% 0;
    height: 50px;
    background-image: url('../../assets//icons/smile-solid.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 15px;
    background-position-y: 10px;
    font-family: 'Roboto', sans-serif;
    &:focus {
      background-image: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder {
      padding: 60px;
    }
    @include tablet {
      width: 70%;
      margin: 2% 0;
    }
    @include desktop {
      margin: 1% 0;
    }
  }

  &__email-label {
  }

  &__email-input {
    @extend .contact__name-input;
    background-image: url('../../assets//icons/envelope-regular.svg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 15px;
    background-position-y: 10px;
    &:focus {
      background-image: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder {
      padding: 60px;
    }
  }

  &__message-label {
  }

  &__message-input {
    @extend .contact__name-input;
    height: 150px;
    background-image: url('../../assets//icons/comment-dots-solid.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 10px;
    background-position-y: 50px;
    &:focus {
      background-image: none;
      &::placeholder {
        color: transparent;
      }
    }
    &::placeholder {
      padding: 60px;
    }
  }

  &__send {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include tablet {
    }
    @include desktop {
      flex-direction: row;
      margin-top: 20px;
    }
  }
  &__container-btn {
    border-radius: 999%;
    width: 100px;
    height: 100px;
    background-color: #141e3075;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    @include desktop {
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-left: 40px;
      margin-top: unset;
    }
  }

  &__btn {
    width: 150px;
    height: 40px;
    outline: none;
    margin-top: 10px;
    transform: translate(-3px, -4px);
    &:hover {
      filter: invert(55%) sepia(45%) saturate(846%) hue-rotate(346deg)
        brightness(91%) contrast(87%);
    }
    @include tablet {
      margin-top: 10px;
    }
    @include desktop {
      transform: translate(-3px, -4px);
      width: 100px;
    }
  }

  &__social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    @include tablet {
      // height: 50%;
    }
  }

  &__social-link-container {
    width: 93px;
  }

  &__social--size {
    margin: 72% auto;
    width: 45%;
    @include desktop {
      width: 55%;
      margin: 30% auto;
    }
  }
  .custom-shape-divider-bottom-1614098670 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1614098670 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 228px;
  }

  .custom-shape-divider-bottom-1614098670 .shape-fill {
    fill: #141e30;
  }
}
