@import "../../styles/Partials/fonts";
@import "../../styles/Partials/mixins";
@import "../../styles/Partials/variables";

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  &__logo-btn {
    border: none;
    color: transparent;
    background-color: transparent;
    display: flex;
    padding: 0;
    width: 5%;
    outline: none;
    align-self: center;
    margin-top: 5%;
    @include tablet {
      width: 3%;
    }
  }
  &__logo {
  }
  &__date {
    color: white;
    font-size: 0.6rem;
    align-items: center;
    text-align: center;
    margin: 0 0 10px 0;
    @include tablet {
      font-size: 0.8rem;
    }
  }
  &__policy {
    color: white;
    font-size: 0.6rem;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
    @include tablet {
      font-size: 0.7rem;
    }
  }
}
