@import '../../styles/Partials/fonts';
@import '../../styles/Partials/mixins';
@import '../../styles/Partials/variables';

.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #243b55;

  &__container {
    width: 90%;
  }

  & h2 {
    color: white;
  }
  & h3 {
    color: white;
  }
  & p {
    color: white;
  }
  & li {
    color: white;
  }
  & a {
    color: white;
    text-decoration: none;
  }
  & h2 {
    color: white;
  }
  & h2 {
    color: white;
  }
  & h2 {
    color: white;
  }
  & h2 {
    color: white;
  }
}
