@import "../../styles/Partials/fonts";
@import "../../styles/Partials/mixins";
@import "../../styles/Partials/variables";

.policy {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  & h2 {
    color: white;
  }
  & h3 {
    color: white;
  }
  & p {
    color: white;
  }
  & li {
    color: white;
  }
  & a {
    color: white;
    text-decoration: none;
  }
  & h2 {
    color: white;
  }
  & h2 {
    color: white;
  }
  & h2 {
    color: white;
  }
  & h2 {
    color: white;
  }
}
